# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environment ---
venv/
.venv/
env/

# --- Mac OS ---
.DS_Store
.AppleDouble
.LSOverride
._*

# --- Windows ---
Thumbs.db
ehthumbs.db
Desktop.ini

# --- VSCode ---
.vscode/

# --- PyInstaller ---
build/
dist/
*.spec
